@{
    Layout = "~/Views/Shared/HomeLayout.cshtml";
    ViewData["Title"] = "Register";
}

<head>
    <title>Sign Up</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/LoginAndRegisterDesign/images/icons/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="~/LoginAndRegisterDesign/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/LoginAndRegisterDesign/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/LoginAndRegisterDesign/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <link rel="stylesheet" type="text/css" href="~/LoginAndRegisterDesign/vendor/animate/animate.css">
    <link rel="stylesheet" type="text/css" href="~/LoginAndRegisterDesign/vendor/css-hamburgers/hamburgers.min.css">
    <link rel="stylesheet" type="text/css" href="~/LoginAndRegisterDesign/vendor/animsition/css/animsition.min.css">
    <link rel="stylesheet" type="text/css" href="~/LoginAndRegisterDesign/vendor/select2/select2.min.css">
    <link rel="stylesheet" type="text/css" href="~/LoginAndRegisterDesign/vendor/daterangepicker/daterangepicker.css">
    <link rel="stylesheet" type="text/css" href="~/LoginAndRegisterDesign/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/LoginAndRegisterDesign/css/main.css">
</head>
<body>


    <div class="limiter">
        <div class="container-login100" style="background-image: url('/LoginAndRegisterDesign/images/bg-01.jpg');">
            <div class="wrap-login100 p-t-30 p-b-50">
                <span class="login100-form-title p-b-41">Account Sign Up</span>

                @if (TempData["Error"] != null)
                {
                    <div class="alert alert-danger">@TempData["Error"]</div>
                }

                <form class="login100-form validate-form p-b-33 p-t-5" method="post" asp-action="Register" asp-controller="Auth">
                    <div class="wrap-input100 validate-input" data-validate="Enter Email">
                        <input class="input100" type="email" name="email" placeholder="Email" required>
                        <span class="focus-input100" data-placeholder="&#xe82a;"></span>
                    </div>
                    <div class="wrap-input100 validate-input" data-validate="Enter password">
                        <input class="input100" type="password" name="password" placeholder="Password" required>
                        <span class="focus-input100" data-placeholder="&#xe80f;"></span>
                    </div>
                    <div class="wrap-input100 validate-input" data-validate="Confirm password">
                        <input class="input100" type="password" name="confirm_password" placeholder="Confirm Password" required>
                        <span class="focus-input100" data-placeholder="&#xe80f;"></span>
                    </div>
                    <div class="container-login100-form-btn m-t-32">
                        <button class="login100-form-btn" type="submit">Sign Up</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!--===============================================================================================-->
    <script src="~/LoginAndRegisterDesign/vendor/jquery/jquery-3.2.1.min.js"></script>
    <script src="~/LoginAndRegisterDesign/vendor/animsition/js/animsition.min.js"></script>
    <script src="~/LoginAndRegisterDesign/vendor/bootstrap/js/popper.js"></script>
    <script src="~/LoginAndRegisterDesign/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/LoginAndRegisterDesign/vendor/select2/select2.min.js"></script>
    <script src="~/LoginAndRegisterDesign/vendor/daterangepicker/moment.min.js"></script>
    <script src="~/LoginAndRegisterDesign/vendor/daterangepicker/daterangepicker.js"></script>
    <script src="~/LoginAndRegisterDesign/vendor/countdowntime/countdowntime.js"></script>
    <script src="~/LoginAndRegisterDesign/js/main.js"></script>

</body>
